{%load static%}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}"/>
    <title>Document</title>
</head>
<body>
    <h1>Hello WORLD</h1>
</body>
</html> -->


<!-- templates/fans/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Настройка команд</title>
</head>
<body>
    <h1 id = "commandtxt">Настройка любимых команд</h1>

    <form method="post" action="{% url 'save_settings' %}">
        {% csrf_token %}
        <label for="team" id = "teamtxt">Выберите любимую команду:</label>
        <input type="text" id="team" name="team">
        <br><br>

        <label for="theme" id = languagetheme>Выберите тему:</label>
        <select id="theme" name="theme">
            <option value="light" id = "lightth">Светлая</option>
            <option value="dark" id = "darkth">Темная</option>
        </select>
        <br><br>

        <label for="language" id = languageswitch >Выберите язык интерфейса:</label>
        <select id="language" name="language">
            <option value="ru">Русский</option>
            <option value="en">English</option>
        </select>
        <br><br>

        <button type="submit" id = "savetxt">Сохранить</button>
    </form>
    <a href="{% url 'settings_table' %}" id = 'checktxt'>Посмотреть сохраненные настройки</a>
    <!-- Добавим графический контент -->
    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
